*{
    box-sizing: border-box;
    margin: 0px;
    
}
h1{
    padding: 0px;
    font-size: 30px;
    margin: 0px;
    
}
h2{
    font-size: 20px;
}
p{
    font size: 16px;
}
.container{
    margin: 0px;
}
.x{
    background-color: white;
}
.row{
    width: 100%;
    padding: 15px;
    margin: 0px;
}

.navbar-header{
    background-color: lightgrey;
    height: 60px;
}
.navbar-brand{
    background-color: lightgrey;
}
#header-nav{
    background-color: lightgrey;
}

#a, #b, #c{
    border: 1px solid;
    width: 100%;
    padding: 5%;
    margin-bottom: 30px;
}
#b{
    background-color: lightcyan;
}
#c{
    background-color: lightgreen;   
}
#a{
    background-color: bisque;
}
